<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" href="../css/bootstrap.min3.2.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min3.2.css">
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="iecss.css" />
<![endif]-->
<script type="text/javascript" src="js/boxOver.js"></script>
</head>
<body>
<div id="main_container">
  <div id="header">
    <div class="top_right">
    
      
    </div>
    <div id="logo"> <a href="#"><img src="/images/logo.png" alt="" border="0"  /></a> </div>
  </div>
  <div id="main_content">
    <div id="menu_tab">
      <ul class="menu">
        <li><a href="/" class="nav"> Home </a></li>
        <li class="divider"></li>
        <li><a href="../products" class="nav">Products</a></li>
        <li class="divider"></li>
        <li><a href="../user/profile" class="nav">My account</a></li>
        
        {{#if user}}
        <li class="divider"></li>
        <li><a href="../user/signout" class="nav">Sign Out</a></li>

         
        {{else}}
         <li class="divider"></li>
        <li><a href="../user/signin" class="nav">Sign In</a></li>

          <li class="divider"></li>
        <li><a href="../user/signup" class="nav">Sign Up</a></li>
        <li class="divider"></li>
{{/if}}
        <li><a href="/advanced-search" class="nav">Advanced Search</a></li>

      </ul>
    </div>
    <!-- end of menu tab -->



    <!-- end of left content -->





   
    <!-- end of left content -->
   {{{body}}}




    
  </div>
  <!-- end of main content -->
  <div class="footer">
    <div class="left_footer">  </div>
    <div class="center_footer"> PTUDW Team 2017<br />
   </div>
    <div class="right_footer"> <a href="#">home</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="#">contact us</a> </div>
  </div>
</div>
<!-- end of main_container -->
</body>
</html>
